/* body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
	
	font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}	*/

body{
	/* font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif !important; */
	    font-family: Verdana,Geneva,sans-serif !important;
/* font-family: 'Open Sans', sans-serif !important; */
margin:0 !important;

}
.d-inline{display:inline !important;}
.d-inlineblock{display:inline-block !important;}
.d-block{display:block !important;}
.d-none{display:none !important;}
.w-28{width:28% !important;}
.w-69{width:69% !important;}

.prl-5{padding-left:5px !important;padding-right:5px !important;}
.prl-10{padding-left:10px !important;padding-right:10px !important;}
.mrl-5{margin-left:5px !important;margin-right:5px !important;}
.mrl-10{margin-left:10px !important;margin-right:10px !important;}
.mb-5{margin-bottom:5px !important;}
.mb-10{margin-bottom:10px !important;}
.mb-0{margin-bottom:0px !important;}
.mt-0{margin-top:0px !important;}
.mt-10{margin-top:10px !important;}
.mt-15{margin-top:15px !important;}
.mt-20{margin-top:20px !important;}
.mt-25{margin-top:25px !important;}
.mtb-0{margin-top:0 !important; margin-bottom:0 !important;}

.float-right{float:right !important;	}

/* ------------------------  */

.header{	display:block; width:100%; /* background-color:#4b8abf;  */  background-color:#4ba4bf;    padding: 8px 15px;	
   /*  line-height: 5px; */	}
.header h4{	color:white;     padding: 10px 0; text-align:center;	    margin: 0;	}
.header ul{		display:inline;	    float: right;	    padding-right: 5px;}
.header ul li{list-style-type:none; display:inline;	    color: white;
    font-size: 16px;	    padding-right: 10px;}
.navbar-brand.logo h4{    display: inline;
    font-weight: 600;
    color: #4ba4bf; }
.navbar.custom-navbar{    min-height: 70px;}
.navbar.custom-navbar.navbar-default{background-color: #f7f7f7 !important;
border:0px !important;
box-shadow: 1px 3px 3px #00000030;	}
.main-section{    margin-top: 130px;}

.navbar-brand.logo{		height: 70px;     padding: 3px 15px !important;}
.logo img{width:60px; height:60px;}
.navbar-nav>li>.dropdown-menu {
    margin-top: 6px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    left: 50%;
    right: auto;
    text-align: left;
    transform: translate(-50%, 0);
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 50%;
  right: auto;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
#menu-list.dropdown-menu>li>a{padding: 8px 20px !important;}
.dropdown-menu.dropdown-user{
	padding: 5px 10px;
    color: white;
    background-color: #984e97; 
    text-align:center;
    left:0;
}
.line{	margin:5px 0;}
.dropdown-user.dropdown-menu:before{
	    position: absolute;
    top: -12px;
    left: 76%;
    right: auto;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 12px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.nav.custom-nav>li>a{    padding: 17px 15px;
    line-height: 35px;}
    
 .navbar-nav>li>.dropdown-menu.dropdown-user{   left: -16px;		}

.custom-navi.shift ul li a.active{
background-color:#4b8abf;
color:white;
}

.logout i{padding-left:5px;}
/* SHIFT */
.custom-navi.shift ul li a {
  position:relative;
  z-index: 1;
  font-size:16px;
}
.custom-navi.shift ul li a:hover {
  color: #dde6ec;
}
.custom-navi.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #4b8abf;
  visibility: none;
  opacity: 0;
  z-index: -1;
  transition: 0.6s;
}
.custom-navi.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
 
}

/* form control style*/
.form-control.cus-control{  transition: all 0.5s;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-radius: 5px;
        border: 1px solid #92c7e5;
    box-shadow: 1px 1px 2px #47a0d4d9;
  /*  box-shadow: 1px 2px 3px #47a0d4;
  box-shadow: 1px 1px 2px #47a0d4ba;*/
    border-color: #66afe970;}
.form-control.cus-control:hover, .form-control.cus-control:focus {    /*  box-shadow: 1px 3px 3px #66afe970; */
    box-shadow: 1px 3px 3px #47d4c0;}    

/*fixed header*/

.navi{display:block; with:100%;}
.fixed {
	width:100%;
  position: fixed;
  top: 0;
  left: 0;
  animation: smoothScroll 1s forwards;
      z-index: 100;
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}
/*---------------------------------------------user creation */
.frm-section{display:block; width:100%;	float: left;
/*padding: 20px 0;*/  box-shadow: 2px 3px 2px #9292922e;	    border-radius: 5px;
  padding: 10px 0 10px;  /* background: #fffffff2; white*/ background-color:#ffffffd9;	border: 1px solid #e6e6e6;
}
.frm-section h1{     /* margin: 0 0 25px 0; */ margin: 0 0 10px 0; position:relative;		
    /* padding: 15px 0; */ padding: 0px 0 10px;	font-size:22px; text-align:left;	    /* color: #d73655; red */	color: #4b8abf;}
    
.frm-section h1:after{ content:'';     width: 100px;
    /*    bottom: 0;    left: 0;    right: 0; 	 margin: 0 auto;  */
     margin: 0 0 0 20px;
    top: 10px;  height: 3px;    /* background-color: #ff466a; red */ /* background-color:#4b8abf;  */  position: absolute;
}    
.tbl-details{width:100%; display:block;	  /*   padding: 20px 0; */	    overflow-x: auto;
    box-shadow:2px 3px 2px #9292922e;	border: 1px solid #e6e6e6;	   padding: 10px 0 10px;
    border-radius: 5px;	float:left; /* background-color:#fffffff2; white*/  background-color:#ffffffd9; }    
.tbl-details h3{
  /*   margin: 0 0 25px 0; */     margin: 0 0 10px 0;
    position: relative;
    /* padding: 15px 0;    */     padding: 0px 0 10px;
    text-align: left;	  /*   color: #d73655; */      color: #4b8abf; 	}
.tbl-details h3:after{ 
	content:'';     width: 100px;
 /*    bottom: 0;    left: 0;    right: 0; 	 margin: 0 auto;  */
     margin: 0 0 0 20px;
    top: 10px;
         height: 3px;  /*   background-color: #ff466a;  */     
       /*  background-color: #4b8abf;  */  position: absolute;
}    

.btn.btn-submit{       transition: all 0.2s;
    background-color: #36bd85;
    color: white;
    border-radius: 2px;
    border-color: #36bd85;	}
.btn.btn-submit:hover{	background-color: #33ad7a;
    color: white;
    box-shadow: 1px 3px 3px #4a4a4a9e;	}
    
.btn.btn-reset{       transition: all 0.2s;
    background-color: #4b8abf;
    color: white;
    border-radius: 2px;}
 .btn.btn-reset:hover{	background-color: #3e78a5;
    color: white;
    box-shadow: 1px 3px 3px #4a4a4a9e;	}
.btn-edit{	    
	color: #424242;
    font-weight: bold;	}
/* .btn-edit{	    background-color: #4ba4bf;
    padding: 4px 6px;
    border-radius: 3px;
    color: white;
    font-size: 13px;	}  
.btn-edit:hover{ text-decoration:none;}		*/
 
 .not-allow,.not-allow:hover{    cursor: not-allowed;}
    
 /*------ table ---------- */
 #split-sec{displa:block;	width:100%; 
    padding-top: 10px}
 
  
.cus-table>tbody>tr:nth-of-type(odd){ /* background-color:#ececec;  whitegray color 
  background-color:#feffd0;	*/ 	
  background-color:#e0e0e0b0 !important;}
  
.cus-table>thead>tr>th{  /* background-color: orange;	*/
background-color:#4ba4bf !important;
    color: white;   
    text-align: center;	}
.cus-table>tbody>tr th{background-color:#4ba4bf !important;}
/*  body */
#body-section{	padding-bottom:80px	}
/* error arrow */
/* .error{	bottom: -22px;	padding: 2px 3px;
    border: 5px;	position: absolute;
        bottom: -22px;
    padding: 2px 3px;
    border: 5px;
    color: white !important;
    position: absolute;
    background-color: ;
    background:#eace00;
    border: 1px solid transparent;
    border-radius: 5px;
    	} */
 /* .error:after  {	
	content: " ";
  position: absolute;
  bottom: 100%;  At the top of the tooltip
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #eace00 transparent;} */
     
/* -------------------------------------- */    


.footer1{
    display: block;
    width: 100%;
        margin: 30px 0 0 0;
  /*  margin: 0;   */
    position: fixed;		  
    padding: 10px 0;
    text-align:center;
    float:left;
    bottom: 0;
    z-index:99;
   /* border-top: 10px solid #0099e8; */
   /*  background-color: #00a5fb; */
   background-color:#4ba4bf;
    
    }
    
.footer1 p{	font-size:14px; color:white;    margin: 2px 0;	 }    
/*	pagination	*/

#pagination-button input[type="button"] {
    transition: all .3s;
    border: 1px solid #ddd;
        padding: 6px 12px;
    text-decoration: none;
    border-radius:2px;
    font-size: 14px;
    color:#337ab7;
}

#pagination-button input[type="button"]:not(.active) {
    background-color:transparent;
}

#pagination-button .active {
    background-color: #337ab7;
    color :#fff !important;
}

#pagination-button input[type="button"]:hover:not(.active) {
    background-color: #ddd;
}

/*		Date picker  */
div.ui-datepicker{font-size:12px !important;}
.ui-datepicker-calendar >thead >tr >th{		background-color: #4ba4bf !important;}	

/* validation */
label{	font-size:12px !important;	}
.displayErrorMessageInRedColor {
    color: #ff0000;
    font-style: italic;
    font-weight: bold;
    font-size: 11px;
}